body {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: beige;
}

.cat {
    flex: 1 0 15vw;
    width: max-content;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.cat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s cubic-bezier(.76,.19,.84,.29);
}

.cat:nth-child(4n+1) {
    flex-basis: 20vw;
}
.cat:nth-child(4n+2) {
    flex-basis: 25vw;
}
.cat:nth-child(4n+3) {
    flex-basis: 30vw;
}
.cat:last-child {
    flex: 1 0 calc(100% - 20px);
}

.cat:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.cat:hover img {
    transform: scale(1.1) rotate(-1deg);
    cursor: crosshair;
}
